* {
  box-sizing: border-box;
}

.grid-container {
  margin: auto;
  width: 1024px;
  height: 1024px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  background-color: black;
}
.grid-item {
  margin: 6px;
  background-color: rgb(238, 238, 238);
}  

.item_1 {
  margin-top: 0;
  margin-left: 0;
  grid-area: 1 / 1 / 2 / 3; 
}

.item_2 {
  margin-top: 0;
  grid-area: 1 / 3 / 2 / 5; 
}

.item_3 {
  margin-top: 0;
  grid-area: 1 / 5 / 2 / 6; 
  
  background-color: rgb(255, 241, 83);
}

.item_4 {
  margin-top: 0;
  margin-right: 0;
  grid-area: 1 / 6 / 2 / 7; 
}


.item_5 {
  margin-left: 0;
  grid-area: 2 / 1 / 4 / 2; 
}

.item_6 {
  grid-area: 2 / 2 / 5 / 5; 
  background-color: rgb(227, 69, 51);
}

.item_7 {
  margin-right: 0;
  grid-area: 2 / 5 / 4 / 7; 
  background-color: rgb(255, 241, 83);
}


.item_8 {
  margin-left: 0;
  grid-area: 4 / 1 / 6 / 2; 
}

.item_10 {
  margin-right: 0;
}

.item_11 {
  margin-bottom: 0;
  grid-area: 5 / 2 / 7 / 4; 
  background-color: rgb(43, 43, 43);
}

.item_13 {
  margin-right: 0;
  grid-area: 5 / 5 / 6 / 7; 
}

.item_14 {
  margin-bottom: 0;
  margin-left: 0;
  background-color: rgb(255, 241, 83);
}

.item_15 {
  margin-bottom: 0;
}

.item_16 {
  margin-bottom: 0;
  margin-right: 0;
  grid-area: 6 / 5 / 7 / 7; 
  background-color: rgb(40, 74, 162);
}