* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: #eee;
}

article {
  /* center the element inside it's container */
  margin: 20px auto;
  /* give it the ability to shrink below 600px */
  max-width: 600px;
  /* make sure to include the float element in the container height */
  overflow: hidden;

  border: 1px solid red;
}

.fake-image {
  width: 150px;
  height: 200px;

  margin-right: 20px;
  margin-bottom: 1.15rem;      /* 1.15 is line height rem base on the UAS */
 
  border: 10px solid yellow;

  /* float */
  float: left;
}

.article-right .fake-image {
  float: right;
  margin-right: 0;
  margin-left: 1.15rem;
}

.fake-link {
  float: left;
  clear: left;
}

.article-right .fake-link {
  float: right;
} 

h2 {
  margin-top: 0;

}

