* {
  box-sizing: border-box;
}

body {
  margin: 0;

  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;


  font-family: sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 5em;
  height: 5em;
  border-radius: 50px;

  color: white;
  background-color: #161617;

  transition: all 1s ease-in-out;
}

.none {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  /* border: 1px solid red; */
  width: 15em;
  height: 5em; 
}

img {
  position: absolute;
  right: -7px;

/*   border: 1px solid red; */
  padding: 20px;
  transition: all 1s ease-in-out;
}


a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 30px;
  right: 8px;

  color: transparent;
  visibility: hidden; 
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;

/*   color: blue;
  border: 1px solid red; */
  transition: all .2s ease-in-out;
}

 .button:hover {
  width: 15em;
  border-radius: 50px;
  justify-content: flex-start;

  box-shadow: 0 20px 20px #aaa;
  
  transition-property: width;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;

} 

 .button:hover img {
  position: absolute; 

  right: 150px;
  transition: all .2s ease-in-out;
}
 

.button:hover a {
  position: absolute;
  top: 20px;
  right: 70px;
  visibility: visible;

  color: white;

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in;
}
 

