* {
  box-sizing: border-box;
}

body {
  margin: 0;

  border-top: 10px solid black;

  background-color: #e9e9e9;
}

.wrapper {
  position: relative;
  max-width: 980px;
  margin: 0 auto;

  background-color: white;
}

img {
  margin-top: 10px;
  margin-right: 50%;
  margin-left: 50%;
  margin-bottom: 0;
}

h1 {
  margin-top: 10px;
  margin-bottom: 70px;
  clear: both;

  font-family: sans-serif;
  font-size: 2em;

  text-align: center;
}

nav {
  position: absolute;

  margin-right: 20px;
  float: right;
  top: 0;
  right: 10px;

  font-size: 1.25em;
  font-weight: bolder;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.banner {
  margin-bottom: 120px;
  min-height: 300px;

  background-image: url(1.png);
  background-size: cover;
  background-position: center;
  background-color: #f3f3f3;
}

h2 {
  margin-top: 90px;
  margin-right: 100px;
  padding-bottom: 40px;
  max-width: 460px;
  float: right;

  font-size: 3em;
  font-style: italic;
  font-weight: 600;

  border-bottom: 3px solid #39b54a; 
}

.author {
  margin-top: -60px;
  margin-right: 100px;
  padding-left: 40px;
  clear: both;
  float: right;

  font-size: 1.75em;

  background-color: #f3f3f3;
}

.one {
  margin-bottom: 60px;
  border: 1px solid transparent;

  background-image: url(image_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.first {
  margin-bottom: 0;
  max-width: 340px;

  white-space: pre;

  font-size: 2.25em;

  /* border: 1px solid red; */
}

span {
  margin-right: 20px;
  margin-left: 20px;
  width: 1.75em;
  height: 1.75em;

  display: inline-block;

  text-align: center;
  line-height: 1.75em;

  color: white;
  background-color: #ffcc00;
  border-radius: 50%;
}

p {
  margin-top: 8px;
  margin-left: 100px;
  margin-bottom: 214px;
  max-width: 460px;

  font-size: 1.5em;

  color: #111;
}

.two {
  margin-bottom: 60px;
  /* border: 1px solid red; */

  overflow: hidden;

  background-image: url(image_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.second {
  margin-right: 154px;
  margin-bottom: 0;
  max-width: 430px;
  float: right;

  white-space: pre;
  font-size: 2.25em;
}

.second span {
  margin-right: 20px;
  margin-left: 20px;
  width: 1.75em;
  height: 1.75em;

  display: inline-block;

  text-align: center;
  line-height: 1.75em;

  color: white;
  background-color: #e8420d;
  border-radius: 50%;
}

.two p {
  margin-top: 8px;
  margin-right: 20px;
  margin-bottom: 214px;
  max-width: 460px;
  clear: both;
  float: right;

  font-size: 1.5em;

  color: #111;
}

.three {
  margin-bottom: 100px;
  /* border: 1px solid red; */

  overflow: hidden;

  background-image: url(image_3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.third {
  margin-bottom: 0;

  white-space: pre;

  font-size: 2.25em;
}

.third span {
  margin-right: 20px;
  margin-left: 20px;
  width: 1.75em;
  height: 1.75em;
  
  display: inline-block;

  text-align: center;
  line-height: 1.75em;

  color: white;
  background-color: #c92424;
  border-radius: 50%;
}

.three p {
  margin-top: 8px;
  margin-left: 103px;
  margin-bottom: 311px;
  max-width: 460px;

  font-size: 1.5em;

  color: #111;
}


footer {
  min-height: 415px;

  color: white;
  background-color: #39b54a;
}

footer h2 {
  margin-top: 90px;
  margin-right: 100px;
  padding-bottom: 40px;
  max-width: 470px;
  float: right;

  font-size: 3em;
  font-style: italic;
  font-weight: 600;

  border-bottom: 3px solid white; 
}

footer .author {
  margin-top: -60px;
  margin-right: 100px;
  margin-bottom: 0;
  padding-left: 40px;
  clear: both;
  float: right;

  font-size: 1.75em;

  color: white;
  background-color: #39b54a;
}

@media (max-width: 660px) {

  body {
    width: 100%;
  }

  .one, .two, .three {
    height: 1020px;
    background-size: 100%;
    background-position: left bottom;
  }

  .two {
    background-position: right bottom;
  }

  footer h2 {
    text-align: center;
  }
  }
  