* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;

  font-family: sans-serif;
  background-color: #ff5e43;
}

.wrapper {
  margin-top: 4em;

  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(100, 100, 100);
}

article {

}

.top {
  width: 300px;
  height: 100px;

  display: flex;
  flex-flow: column;
  align-items: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f6f6f6;
}

h2 {
  margin: 0;
  padding-top: 1em;
  padding-bottom: .1em;

  font-weight: 400;
  color: #ff5e43;
}

p {
  margin: 0;
  padding-bottom: 1.5em;

  font-size: 1.2em;
  font-weight: 300;
}

.bottom {
  width: 300px;
  height: 400px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  background-color: #dfedf1;
}


.one {
  width: 200px;
  position: absolute;
  left: 3em;

}

.two {
  width: 203px;
  position: absolute;

  top: -2px;
  left: 46.5px;

}

.bottom p {
  width: 240px;
  height: 40px;
  padding-top: 10px;

  position: absolute;
  top: 15em;
  left: 28px;
  text-align: center;

  font-size: 1.2em;
  font-weight: 200;
  color: #fff;
  background-color: #ff5e43;
}

