* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(241, 241, 241);
}

section {
  display: flex;
  align-self: stretch;

  margin: 5em;

  flex-flow: column;
  border: 2px dashed black;
}

main {
  display: flex;
  flex-flow: row;
}

aside, .sidebar {
  padding: 2em;
  background-color: #C6C6C6;
}

.sidebar {
  flex-shrink: 2;
}

.main {
  padding: 2em;
  background-color: white;
  display: flex;
  flex-flow: column;
}

h1 {
  font-weight: 900;
}

li {
  white-space: pre;
}

footer {
  margin-top: auto;

  padding: 15px;
  background-color: rgb(245, 245, 245);
}

a {
  display: inline-block; 
}

header {
  background-color: rgb(241, 241, 241);
  padding: 3em 2em 3em 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  align-items: baseline;
  /* border: 2px solid red; */
}

header .title {
  font-size: 1.5em;
  font-weight: bold;
}

header a {
  margin-left: 1em;
  padding: 5px 10px;

  /* border: 1px solid blue; */
}

header a:first-child {
  margin-right: auto;
  margin-left: .5em;
}

