* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-around;

  flex-wrap: nowrap;

  width: 700px;
  padding: 4px;
  background-color: #FFC0CB;
}

a {
  flex-basis: 25%;
  flex-grow: 1;

  align-items: center;
  text-align: center;
  padding: 1.2em;
  border-right: 1px solid #ff0000;
  color: #FF0000;
}

.item-4 {
  border-right: none;
}
