* {
  box-sizing: border-box;
}

:root {
  --padding: 3rem;
  --brand-color: #ffda7f;
  --alt-color: #ff678d;
  --text-color: #eee;
  --bg-color: #4c59a9;
}

body {
  margin: 0;

  font-family: sans-serif;
  color: var(--text-color);

  background-color: #eee;
}

.wrapper {
  max-width: 100vw;
  padding: var(--padding);

  grid-gap: 10px;

  background-color: var(--bg-color);
}

h4, .h2_title {
  text-transform: uppercase; 
}

a {
  padding: 5px;
  text-decoration: none;
  color: #eee;
}  

img {
  max-width:100%;
  height:auto;
}

/* ------header------- */

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.title {
  grid-column:  1 / 2;
}

.menu_1 {
  grid-column:  2 / 3;
}

.menu_2 {
  grid-column:  3 / 4;
}

.social_link {
  display: flex;
  align-items: center;
  justify-content: space-around;

  grid-column:  4 / 5;
}

/* ------main------- */

.h2_title {
  grid-column: 1 / 5;
}

.radio, .clock, .stop_sign, .lamp, footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.radio_image, .clock_image, .lamp_image, .mail {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 / 3;
}

.radio_number, .radio_name, .clock_number, .clock_p, .lamp_number, .lamp_p, .copy_right {
 grid-column: 1 / 2;
} 

.mail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


@media (min-width:1200px) {
  
  .wrapper {
  margin: auto;
  max-width: 1264px;
  max-height: 1448px;
  
  padding: var(--padding);
  
  display: grid;
  grid-template-rows: 2fr 4fr 1fr;
  grid-gap: 10px;

  background-color: var(--bg-color);
  }

  /* ------header------- */

  header {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
  }

  .title {
    grid-column:  1 / 2; 
    color: var(--brand-color);
  }

  .menu_1 {
    display: flex;
    flex-flow: column;

    grid-column: 3 / 4; 
  }

  .menu_2 {
    display: flex;
    flex-flow: column;

    grid-column: 5 / 6; 
  }

  .social_link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    grid-column: 10 / 12; 
  }

  .social_link a {
    padding: 20px;
  }

  /* ------main------- */

  main {
    display: grid;
  }

  .article_1 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .h2_title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    color: var(--brand-color);

    line-height: 150%;
    font-size: 2.5em;
    grid-area: 1 / 1 / 3 / 7;
  }

  .radio{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    box-shadow: 10px 80px 90px 5px rgba(0, 0, 0, 0.3);
    grid-area: 3 / 1 / 5 / 7;
    background-color: var(--alt-color);
  }

  .radio_image {
    margin: 0 20px 20px 0;
  }

/*   .radio_number{
     
  } */

/*   .radio_name {

  } */

  .clock {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    grid-area: 1 / 7 / 5 / 10;
    border: 1px solid var(--alt-color);
  }

/*   .clock_number {
    
  }
 */
  .clock_p {
    order: 2;
    line-height: 180%;
    margin-left: 20px;
    grid-area: 4 / 7 / 5 / 10;
  }

  .stop_sign {
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 10px 80px 90px 5px rgba(0, 0, 0, 0.3);
    grid-area: 3 / 10 / 5 / 13;
  }

  .stop_sign_next {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 20px;
    grid-area: 2 / 12 / 3 / 13;
  }

  .stop_sign_number {
    margin-left: 20px;
    grid-area: 3 / 10 / 5 / 11;
  }

  .arrow {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    margin-left: 20px;
    grid-area: 1 / 12 / 3 / 13;
  }

  .article_2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .lamp {
    padding: 200px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 10px 80px 90px 5px rgba(0, 0, 0, 0.3);
    grid-area: 1 / 4 / 5 / 7;
  }

  .lamp_number {
    margin-left: 20px;
    grid-area: 1 / 4 / 4 / 7;
  }

  .lamp_p {
    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 180%;
    margin: 20px;
    grid-area: 1 / 7 / 5 / 11;
  }

  /* ------footer------- */

  footer {
    margin-top: 80px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr)
  }

  .copy_right {
    grid-column:  3 / 5;
  }

  .mail {
    grid-column:  10 / 12;
  }
}